openapi: 3.0.1
info:
  title: Helix Labs Data API
  description: |-
    This API exposes alignment & structural information for the human proteome.

    The API is secured and you need credentials to be able to use it. We use the industry-standard OAuth2 protocol. For those of you who'd like more information about the ins and outs of OAuth2 please take a look here. Note that using the API is incredibly easy; you don't really need an in-depth understanding of OAuth2 to be able to use this API. This documentation contains all the information you need to get started!
    Client access tokens
    S
    We use the Auth0.com service to manage authentication and authorization. Please check that you have received a client_id and a client_secret before continuing. Retrieval of your access token is a two-step process:

    - Your application authenticates with Auth0 using its client_id and client_secret.
    - Auth0 validates this information and returns an access_token.

    Retrieving the access token for interaction with our API can be achieved by sending a request to the Auth0 authentication servers. Tokens have a lifespan of 24 hours. You need to re-acquire a new one before the old one runs out in order to keep using the API without interruption.

    ```
    curl --request POST \
      --url https://eggwhite.eu.auth0.com/oauth/token \
      --header 'content-type: application/json' \
      --data '{"client_id":"<client_id>","client_secret":<client_secret>, "audience":"structure.helixlabs.ai","grant_type":"client_credentials"}'
    ```

    Returns the following JSON response:

    ```
    { "access_token": "<access_token>", "expires_in": 86400, "token_type": "Bearer" }
    ```

    We recommend the requests library for Python for ease of use.

    API Usage
    ---------

    When you have acquired an API token, you need to include it in the Authorization header, preceded by the `Bearer` keyword.

    ```
    curl --request GET \
      --url https://data.helixlabs.ai/transcripts \
      --header 'Authorization: Bearer <access_token>'
    ```
  termsOfService: 'https://www.bio-prodict.com/static/pdf/general-terms-and-conditions-V20191130-bio-prodict.pdf'
  contact:
    email: info@helixlabs.ai
  version: 0.1.0
externalDocs:
  description: Find out more about Helix Labs
  url: 'https://helixlabs.ai'
servers:
  - url: 'https://data.helixlabs.ai/v1'
tags:
  - name: Conservation
    description: Conservation data based on 3DM alignments.
  - name: Structure
    description: Structure data based on 3DM alignments.
paths:
  '/transcripts/{transcript_id}/{residue_number}/conservation':
    get:
      tags:
        - Conservation
      summary: Conservation information for a position in a transcript
      operationId: getConservationPosition
      parameters:
        - name: transcript_id
          in: path
          description: The transcript identifier according the ensembl standard.
          required: true
          schema:
            type: string
        - name: residue_number
          in: path
          description: Number of the residue according to the transcript provided.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  required:
                    - alignment_type
                    - alignment_depth
                    - conservationala
                    - conservationarg
                    - conservationasn
                    - conservationasp
                    - conservationcys
                    - conservationgln
                    - conservationglu
                    - conservationgly
                    - conservationhis
                    - conservationile
                    - conservationleu
                    - conservationlys
                    - conservationmet
                    - conservationphe
                    - conservationpro
                    - conservationser
                    - conservationthr
                    - conservationtrp
                    - conservationtyr
                    - conservationval
                    - position
                    - transcript_identifier
                    - wildtype
                  properties:
                    alignment_type:
                      type: string
                      minLength: 1
                    alignment_depth:
                      type: number
                    conservationala:
                      type: number
                    conservationarg:
                      type: number
                    conservationasn:
                      type: number
                    conservationasp:
                      type: number
                    conservationcys:
                      type: number
                    conservationgln:
                      type: number
                    conservationglu:
                      type: number
                    conservationgly:
                      type: number
                    conservationhis:
                      type: number
                    conservationile:
                      type: number
                    conservationleu:
                      type: number
                    conservationlys:
                      type: number
                    conservationmet:
                      type: number
                    conservationphe:
                      type: number
                    conservationpro:
                      type: number
                    conservationser:
                      type: number
                    conservationthr:
                      type: number
                    conservationtrp:
                      type: number
                    conservationtyr:
                      type: number
                    conservationval:
                      type: number
                    position:
                      type: number
                    transcript_identifier:
                      type: string
                      minLength: 1
                    wildtype:
                      type: string
                      minLength: 1
              examples:
                Example Response:
                  value:
                    - alignment_type: FULL_LENGTH
                      alignment_depth: 1092
                      conservationala: 1.5567765567765561
                      conservationarg: 4.395604395604396
                      conservationasn: 0.915750915750915
                      conservationasp: 0.36630036630036605
                      conservationcys: 0.274725274725274
                      conservationgln: 1.373626373626373
                      conservationglu: 0.457875457875457
                      conservationgly: 33.05860805860806
                      conservationhis: 0.274725274725274
                      conservationile: 0.274725274725274
                      conservationleu: 6.227106227106227
                      conservationlys: 3.388278388278388
                      conservationmet: 0
                      conservationphe: 0
                      conservationpro: 0.09157509157509101
                      conservationser: 45.42124542124542
                      conservationthr: 1.19047619047619
                      conservationtrp: 0
                      conservationtyr: 0.18315018315018303
                      conservationval: 0.549450549450549
                      position: 30
                      transcript_identifier: ENST00000373573
                      wildtype: Ser
                    - alignment_type: 3DM_PDBCLUSTER
                      alignment_depth: 13700
                      conservationala: 6.218978102189781
                      conservationarg: 6.379562043795621
                      conservationasn: 18.56204379562044
                      conservationasp: 7.153284671532846
                      conservationcys: 0.262773722627737
                      conservationgln: 3.664233576642336
                      conservationglu: 8.912408759124087
                      conservationgly: 8.109489051094892
                      conservationhis: 1.4598540145985401
                      conservationile: 0.131386861313868
                      conservationleu: 9.576642335766424
                      conservationlys: 12.350364963503651
                      conservationmet: 0.29927007299270003
                      conservationphe: 0.262773722627737
                      conservationpro: 0.6350364963503651
                      conservationser: 5.7299270072992705
                      conservationthr: 2.124087591240876
                      conservationtrp: 7.189781021897811
                      conservationtyr: 0.846715328467153
                      conservationval: 0.131386861313868
                      position: 30
                      transcript_identifier: ENST00000373573
                      wildtype: Ser
        '404':
          description: No conservation data is available for this position.
          content: {}
      security:
        - structure_api_sec:
            - 'read:conservation_data'
      description: |
        Gets the conservation statistics for a position in a transcript according to 3DM alignments. Where possible, this call will return multiple alignments. These include, in order of general quality:

        - **FULL_LENGTH**: A full length sequence alignment. These statistics are available for every position. Full length alignments are generally not to deep.
        - **PFAM**: Alignments based on domains from the PFAM (Protein Family Database).
        - **3DM_PDBCLUSTER**: Alignments based on 3DM's PDBCluster systems.
        - **3DM_SCOP**: Alignments based on 3DM's SCOP (Structural Classification of Proteins) systems.
        - **3DM_SFV1**: Alignments based on a true (generic) 3DM system. Proprietary systems are not included in these alignments.

        The latter three alignment types are generally deeper and based on 3D protein structures, while the former two are more available.
  '/transcripts/{transcript_id}/structure':
    get:
      tags:
        - Structure
      summary: Structure information for every available residue in the transcript.
      operationId: getStructureFull
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    transcript_identifier: ENST00000560422
                    values:
                      '10':
                        - alignment_type: 3DM_PDBCLUSTER
                          bfactor: 0
                          chain: A
                          is_direct_structure: false
                          is_human: false
                          pdb_id: 2efi
                          pdb_residuenumber: '9'
                          percentage_identity: 0.82
                          resolution: null
                          surfaces_accessible: 83.2
                          taxonomy_id: null
                          transcript_identifier: ENST00000560422
                          transcript_position: 10
                properties:
                  transcript_identifier:
                    type: string
                    minLength: 1
                    description: Transcript identifier
                  values:
                    type: object
                    required:
                      - <residuenumber>
                    properties:
                      <residuenumber>:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            alignment_type:
                              type: string
                              minLength: 1
                            bfactor:
                              type: number
                              description: 'A continuous term describing the atomic movements of a residue with a crystalized structure. Commonly used to identify flexibility of atoms, side chains whole regions of a protein.'
                            chain:
                              type: string
                              minLength: 1
                              description: Chain/Molecule identifier inside a PDB structure.
                            is_direct_structure:
                              type: boolean
                              description: 'Whether or not the structure corresponds directly to the transcript protein, or is a homolog.'
                            is_human:
                              type: boolean
                              description: Whether or not the structure is of a human protein.
                            pdb_id:
                              type: string
                              minLength: 1
                              description: PDB Identifier string (without chain identifier).
                            pdb_residuenumber:
                              type: string
                              minLength: 1
                              description: Number of this residue inside the PDB structure (this may differ from the transcript position).
                            percentage_identity:
                              type: number
                              description: Percentage identity of the structure with the transcript.
                            resolution:
                              description: |
                                Resolution of the structure.
                              type: number
                            surfaces_accessible:
                              type: number
                              description: 'Whether or not the structure corresponds directly to the transcript protein, or is a homolog.'
                            taxonomy_id:
                              type: integer
                              description: NCBI taxonomy identifier corresponding to the structure. Common identifiers include 9606 for human and 562 for E. coli.
                            transcript_identifier:
                              type: string
                              minLength: 1
                              description: Ensembl transcript identifier.
                            transcript_position:
                              type: number
                              description: Position of this residue in the transcript
                          required:
                            - alignment_type
                            - bfactor
                            - chain
                            - is_direct_structure
                            - is_human
                            - pdb_id
                            - pdb_residuenumber
                            - percentage_identity
                            - surfaces_accessible
                            - transcript_identifier
                            - transcript_position
                required:
                  - transcript_identifier
                  - values
              examples:
                Example Response: {}
        '404':
          description: No structure data is available for this transcript.
          content: {}
      security:
        - structure_api_sec:
            - 'read:structure_data'
      description: Returns structural data for all the residues in a transcript.
    parameters:
      - schema:
          type: string
        name: transcript_id
        in: path
        required: true
  '/transcripts/{transcript_id}/structure/{property}':
    get:
      tags:
        - Structure
      summary: Select structure information for a transcript.
      operationId: getStructurePositionProperty
      parameters:
        - name: transcript_id
          in: path
          description: The transcript identifier according the ensembl standard.
          required: true
          schema:
            type: string
        - name: property
          in: path
          description: 'The property that should be returned. One of (''sidechain_accessibility'', ''bfactor'').'
          required: true
          schema:
            type: string
      security:
        - structure_api_sec:
            - 'read:structure_data'
      description: |
        Returns a single property for all the residues in a transcript. The following properties are currently supported:

        - sidechain_accessibility
        - bfactor
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  requested_property:
                    type: string
                  system:
                    type: string
                  values:
                    type: array
                    items:
                      type: object
                      properties:
                        value:
                          type: integer
                        pdb_id:
                          type: string
                        chain:
                          type: string
              examples:
                Bfactor Example:
                  value:
                    requested_property: bfactor
                    transcript_identifier: ENST00000373573
                    values:
                      '100':
                        - chain: A
                          pdb_id: 4qa4
                          value: 50.3
                        - chain: A
                          pdb_id: 3f07
                          value: 88.9
                        - chain: A
                          pdb_id: 1t64
                          value: 13.7
                        - chain: A
                          pdb_id: 3f0r
                          value: 76.1
                        - chain: A
                          pdb_id: 5fcw
                          value: 33.6
                        - chain: A
                          pdb_id: 4qa7
                          value: 51.6
                      '101':
                        - chain: A
                          pdb_id: 4qa4
                          value: 53.9
                        - chain: A
                          pdb_id: 1t64
                          value: 14.5
                        - chain: A
                          pdb_id: 3f07
                          value: 88
                        - chain: A
                          pdb_id: 3f0r
                          value: 73.7
                        - chain: A
                          pdb_id: 5fcw
                          value: 32.8
                        - chain: A
                          pdb_id: 4qa7
                          value: 49.4
                      '102':
                        - chain: A
                          pdb_id: 4qa4
                          value: 46.4
                        - chain: A
                          pdb_id: 1t64
                          value: 14
                        - chain: A
                          pdb_id: 3f07
                          value: 81.8
                        - chain: A
                          pdb_id: 3f0r
                          value: 68.2
                        - chain: A
                          pdb_id: 5fcw
                          value: 29.9
                        - chain: A
                          pdb_id: 4qa7
                          value: 52.1
        '404':
          description: Transcript Not Found
  '/transcripts/{transcript_id}/{residue_number}/structure':
    get:
      tags:
        - Structure
      summary: Structure information for a position in a transcript.
      operationId: getStructurePosition
      parameters:
        - name: transcript_id
          in: path
          description: The transcript identifier according the ensembl standard.
          required: true
          schema:
            type: string
        - name: residue_number
          in: path
          description: Number of the residue according to the transcript provided.
          required: true
          schema:
            type: integer
        - schema:
            type: boolean
          in: query
          name: all
          description: |
            Optional, if set to true structure data from all alignments will be returned. If not set, or set to false, only the best structure data will be returned.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      bfactor:
                        type: number
                        description: 'A continuous term describing the atomic movements of a residue with a crystalized structure. Commonly used to identify flexibility of atoms, side chains whole regions of a protein.'
                      transcript_identifier:
                        type: string
                        description: Ensembl transcript identifier.
                      transcript_position:
                        type: integer
                        description: |
                          Position of a residue in the Ensembl transcript.
                      surfaces_accessible:
                        type: number
                        description: The area of a residue that is accessible by a solvent in the 3D structure.
                      chain:
                        type: string
                        description: Chain/Molecule identifier inside a PDB structure.
                      pdb_id:
                        type: string
                        description: PDB Identifier string (without chain identifier).
                      pdb_residuenumber:
                        type: string
                        description: Number of this residue inside the PDB structure (this may differ from the transcript position).
                      alignment_type:
                        type: string
                        description: String that describes the type of alignment from which this data is derived. When 3DM-type alignments are available these are generally the most accurate.
                      percentage_identity:
                        type: number
                        description: Percentage identity of the structure with the transcript.
                      is_direct_structure:
                        type: boolean
                        description: 'Whether or not the structure corresponds directly to the transcript protein, or is a homolog.'
                      is_human:
                        type: boolean
                        description: Whether or not the structure is of a human protein.
                      resolution:
                        type: number
                        description: Resolution of the structure.
                      taxonomy_id:
                        type: integer
                        description: NCBI taxonomy identifier corresponding to the structure. Common identifiers include 9606 for human and 562 for E. coli.
              examples:
                Example Response (Default):
                  value:
                    system: human_v4.ENST00000373573
                    values:
                      '100':
                        - alignment_type: 3DM_SCOP
                          bfactor: 50.3
                          chain: A
                          is_direct_structure: true
                          is_human: true
                          pdb_id: 4qa4
                          pdb_residuenumber: '100'
                          percentage_identity: 1
                          resolution: 1
                          surfaces_accessible: 158.52
                          taxonomy_id: 9606
                          transcript_identifier: human_v4.ENST00000373573
                          transcript_position: 100
                      '101':
                        - alignment_type: 3DM_PDBCLUSTER
                          bfactor: 53.9
                          chain: A
                          is_direct_structure: true
                          is_human: true
                          pdb_id: 4qa4
                          pdb_residuenumber: '101'
                          percentage_identity: 1
                          resolution: 1
                          surfaces_accessible: 14.18
                          taxonomy_id: 9606
                          transcript_identifier: human_v4.ENST00000373573
                          transcript_position: 101
                      '102':
                        - alignment_type: 3DM_PDBCLUSTER
                          bfactor: 46.4
                          chain: A
                          is_direct_structure: true
                          is_human: true
                          pdb_id: 4qa4
                          pdb_residuenumber: '102'
                          percentage_identity: 1
                          resolution: 1
                          surfaces_accessible: 0
                          taxonomy_id: 9606
                          transcript_identifier: human_v4.ENST00000373573
                          transcript_position: 102
                      '103':
                        - alignment_type: 3DM_PDBCLUSTER
                          bfactor: 48.6
                          chain: A
                          is_direct_structure: true
                          is_human: true
                          pdb_id: 4qa4
                          pdb_residuenumber: '103'
                          percentage_identity: 1
                          resolution: 1
                          surfaces_accessible: 29.83
                          taxonomy_id: 9606
                          transcript_identifier: human_v4.ENST00000373573
                          transcript_position: 103
                      '104':
                        - alignment_type: 3DM_PDBCLUSTER
                          bfactor: 55.2
                          chain: A
                          is_direct_structure: true
                          is_human: true
                          pdb_id: 4qa4
                          pdb_residuenumber: '104'
                          percentage_identity: 1
                          resolution: 1
                          surfaces_accessible: 5.19
                          taxonomy_id: 9606
                          transcript_identifier: human_v4.ENST00000373573
                          transcript_position: 104
                      '105':
                        - alignment_type: 3DM_PDBCLUSTER
                          bfactor: 62.9
                          chain: A
                          is_direct_structure: true
                          is_human: true
                          pdb_id: 4qa4
                          pdb_residuenumber: '105'
                          percentage_identity: 1
                          resolution: 1
                          surfaces_accessible: 36.21
                          taxonomy_id: 9606
                          transcript_identifier: human_v4.ENST00000373573
                          transcript_position: 105
                Example Response (With all=true):
                  value:
                    system: human_v4.ENST00000373573
                    values:
                      '100':
                        - alignment_type: 3DM_SCOP
                          bfactor: 50.3
                          chain: A
                          is_direct_structure: true
                          is_human: true
                          pdb_id: 4qa4
                          pdb_residuenumber: '100'
                          percentage_identity: 1
                          position: 100
                          resolution: 1
                          surfaces_accessible: 158.52
                          taxonomy_id: 9606
                          transcript_identifier: human_v4.ENST00000373573
                        - alignment_type: 3DM_SCOP
                          bfactor: 88.9
                          chain: A
                          is_direct_structure: true
                          is_human: true
                          pdb_id: 3f07
                          pdb_residuenumber: '100'
                          percentage_identity: 1
                          position: 100
                          resolution: 3
                          surfaces_accessible: 177.63
                          taxonomy_id: 9606
                          transcript_identifier: human_v4.ENST00000373573
                      '101':
                        - alignment_type: 3DM_PDBCLUSTER
                          bfactor: 53.9
                          chain: A
                          is_direct_structure: true
                          is_human: true
                          pdb_id: 4qa4
                          pdb_residuenumber: '101'
                          percentage_identity: 1
                          position: 101
                          resolution: 1
                          surfaces_accessible: 14.18
                          taxonomy_id: 9606
                          transcript_identifier: human_v4.ENST00000373573
                        - alignment_type: 3DM_PDBCLUSTER
                          bfactor: 14.5
                          chain: A
                          is_direct_structure: true
                          is_human: true
                          pdb_id: 1t64
                          pdb_residuenumber: '101'
                          percentage_identity: 1
                          position: 101
                          resolution: 1
                          surfaces_accessible: 3.55
                          taxonomy_id: 9606
                          transcript_identifier: human_v4.ENST00000373573
                        - alignment_type: 3DM_PDBCLUSTER
                          bfactor: 88
                          chain: A
                          is_direct_structure: true
                          is_human: true
                          pdb_id: 3f07
                          pdb_residuenumber: '101'
                          percentage_identity: 1
                          position: 101
                          resolution: 3
                          surfaces_accessible: 34.91
                          taxonomy_id: 9606
                          transcript_identifier: human_v4.ENST00000373573
                      '102':
                        - alignment_type: 3DM_PDBCLUSTER
                          bfactor: 46.4
                          chain: A
                          is_direct_structure: true
                          is_human: true
                          pdb_id: 4qa4
                          pdb_residuenumber: '102'
                          percentage_identity: 1
                          position: 102
                          resolution: 1
                          surfaces_accessible: 0
                          taxonomy_id: 9606
                          transcript_identifier: human_v4.ENST00000373573
                        - alignment_type: 3DM_PDBCLUSTER
                          bfactor: 14
                          chain: A
                          is_direct_structure: true
                          is_human: true
                          pdb_id: 1t64
                          pdb_residuenumber: '102'
                          percentage_identity: 1
                          position: 102
                          resolution: 1
                          surfaces_accessible: 0
                          taxonomy_id: 9606
                          transcript_identifier: human_v4.ENST00000373573
                        - alignment_type: 3DM_PDBCLUSTER
                          bfactor: 81.8
                          chain: A
                          is_direct_structure: true
                          is_human: true
                          pdb_id: 3f07
                          pdb_residuenumber: '102'
                          percentage_identity: 1
                          position: 102
                          resolution: 3
                          surfaces_accessible: 2.95
                          taxonomy_id: 9606
                          transcript_identifier: human_v4.ENST00000373573
        '404':
          description: No structure data is available for this position.
          content: {}
      security:
        - structure_api_sec:
            - 'read:structure_data'
      description: Returns extended structural data for a given residues in a transcript.
  '/transcripts/{transcript_id}/conservation':
    parameters:
      - schema:
          type: string
        name: transcript_id
        in: path
        required: true
    get:
      summary: Conservation information for a full transcript
      tags:
        - Conservation
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  required:
                    - '0'
                    - '1'
                  properties:
                    '0':
                      type: array
                      uniqueItems: true
                      minItems: 1
                      items:
                        required:
                          - alignment_depth
                          - alignment_type
                          - conservationala
                          - conservationarg
                          - conservationasn
                          - conservationasp
                          - conservationcys
                          - conservationgln
                          - conservationglu
                          - conservationgly
                          - conservationhis
                          - conservationile
                          - conservationleu
                          - conservationlys
                          - conservationmet
                          - conservationphe
                          - conservationpro
                          - conservationser
                          - conservationthr
                          - conservationtrp
                          - conservationtyr
                          - conservationval
                          - transcript_identifier
                          - transcript_position
                          - wildtype
                        properties:
                          alignment_depth:
                            type: number
                          alignment_type:
                            type: string
                            minLength: 1
                          conservationala:
                            type: number
                          conservationarg:
                            type: number
                          conservationasn:
                            type: number
                          conservationasp:
                            type: number
                          conservationcys:
                            type: number
                          conservationgln:
                            type: number
                          conservationglu:
                            type: number
                          conservationgly:
                            type: number
                          conservationhis:
                            type: number
                          conservationile:
                            type: number
                          conservationleu:
                            type: number
                          conservationlys:
                            type: number
                          conservationmet:
                            type: number
                          conservationphe:
                            type: number
                          conservationpro:
                            type: number
                          conservationser:
                            type: number
                          conservationthr:
                            type: number
                          conservationtrp:
                            type: number
                          conservationtyr:
                            type: number
                          conservationval:
                            type: number
                          transcript_identifier:
                            type: string
                            minLength: 1
                          transcript_position:
                            type: number
                          wildtype:
                            type: string
                            minLength: 1
                    '1':
                      type: array
                      uniqueItems: true
                      minItems: 1
                      items:
                        required:
                          - alignment_depth
                          - alignment_type
                          - conservationala
                          - conservationarg
                          - conservationasn
                          - conservationasp
                          - conservationcys
                          - conservationgln
                          - conservationglu
                          - conservationgly
                          - conservationhis
                          - conservationile
                          - conservationleu
                          - conservationlys
                          - conservationmet
                          - conservationphe
                          - conservationpro
                          - conservationser
                          - conservationthr
                          - conservationtrp
                          - conservationtyr
                          - conservationval
                          - transcript_identifier
                          - transcript_position
                          - wildtype
                        properties:
                          alignment_depth:
                            type: number
                          alignment_type:
                            type: string
                            minLength: 1
                          conservationala:
                            type: number
                          conservationarg:
                            type: number
                          conservationasn:
                            type: number
                          conservationasp:
                            type: number
                          conservationcys:
                            type: number
                          conservationgln:
                            type: number
                          conservationglu:
                            type: number
                          conservationgly:
                            type: number
                          conservationhis:
                            type: number
                          conservationile:
                            type: number
                          conservationleu:
                            type: number
                          conservationlys:
                            type: number
                          conservationmet:
                            type: number
                          conservationphe:
                            type: number
                          conservationpro:
                            type: number
                          conservationser:
                            type: number
                          conservationthr:
                            type: number
                          conservationtrp:
                            type: number
                          conservationtyr:
                            type: number
                          conservationval:
                            type: number
                          transcript_identifier:
                            type: string
                            minLength: 1
                          transcript_position:
                            type: number
                          wildtype:
                            type: string
                            minLength: 1
      operationId: get-transcripts-transcript_id-conservation
      description: |
        Gets the conservation statistics for a position in a transcript according to 3DM alignments. Where possible, this call will return multiple alignments. These include, in order of general quality:

        - **FULL_LENGTH**: A full length sequence alignment. These statistics are available for every position. Full length alignments are generally not to deep.
        - **PFAM**: Alignments based on domains from the PFAM (Protein Family Database).
        - **3DM_PDBCLUSTER**: Alignments based on 3DM's PDBCluster systems.
        - **3DM_SCOP**: Alignments based on 3DM's SCOP (Structural Classification of Proteins) systems.
        - **3DM_SFV1**: Alignments based on a true (generic) 3DM system. Proprietary systems are not included in these alignments.

        The latter three alignment types are generally deeper and based on 3D protein structures, while the former two are more available.
      parameters: []
      security:
        - structure_api_sec:
            - 'read:conservation_data'
  '/vep/{identifier}/literature':
    parameters:
      - schema:
          type: string
        name: identifier
        in: path
        required: true
    get:
      summary: Get literature using genomic locations
      tags:
        - Literature
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                x-examples:
                  example-1:
                    - article_source: pubmed
                      articleid: 10926844
                      mutant: F
                      position: 2
                      score: 11.100000381469727
                      url: 'https://pubmed.ncbi.nlm.nih.gov/10926844/'
                      variant: E2F
                      wildtype: E
                    - article_source: pubmed
                      articleid: 25581683
                      mutant: F
                      position: 2
                      score: 13.699999809265137
                      url: 'https://pubmed.ncbi.nlm.nih.gov/25581683/'
                      variant: E2F
                      wildtype: E
                items:
                  type: object
                  properties:
                    article_source:
                      type: string
                      minLength: 1
                      description: 'The source of the article, for example "pubmed"'
                    articleid:
                      type: number
                      description: Numeric article identifier
                    mutant:
                      type: string
                      minLength: 1
                      description: Mutant amino acid
                    position:
                      type: number
                      description: Position of the variant
                    score:
                      type: number
                      description: 'Match score assigned to this article, higher scores indicate higher odds of being associated with the relevant variant.'
                    url:
                      type: string
                      minLength: 1
                      description: Direct URL to the article.
                    variant:
                      type: string
                      minLength: 1
                      description: 'Variant as a string in the format <wt><pos><mut>, with single letter amino acid codes. '
                    wildtype:
                      type: string
                      minLength: 1
                      description: The wildtype amino acid at this position.
                  required:
                    - article_source
                    - articleid
                    - mutant
                    - position
                    - score
                    - url
                    - variant
                    - wildtype
              examples:
                Example:
                  value:
                    - article_source: pubmed
                      articleid: 10926844
                      mutant: F
                      position: 2
                      score: 11.100000381469727
                      url: 'https://pubmed.ncbi.nlm.nih.gov/10926844/'
                      variant: E2F
                      wildtype: E
                    - article_source: pubmed
                      articleid: 25581683
                      mutant: F
                      position: 2
                      score: 13.699999809265137
                      url: 'https://pubmed.ncbi.nlm.nih.gov/25581683/'
                      variant: E2F
                      wildtype: E
        '404':
          description: Location not found in database.
      operationId: get-literature-vep
      description: |-
        This endpoint adds the ability to retrieve literature based on a genomic location identifier. It uses VEP to allow for a multitude of identifier formats. The following formats are supported:


        - SPDI: i.e. `NC_000016.10:68684738:G:A` (`NC_000016` indicates chromosome 16 version 10 in GRCh38.p13)
        - HGVSG: i.e. `NC_000016.10:g.68684739G>A`
        - RSID: i.e. `rs145160881`
        - HGVSP: i.e. `ENSP00000264012.4:p.Val447Ile` or `NP_001304124.1:p.Val447Ile` or `XP_011521102.1:p.Val447Ile`
        - HGVSC: i.e. `ENST00000264012.9:c.1339G>A` or `NM_001317195.3:c.1339G>A` or `XM_011522800.3:c.1339G>A`
  '/transcripts/{transcript_id}/literature':
    parameters:
      - schema:
          type: string
        name: transcript_id
        in: path
        required: true
        description: Ensembl transcript identifier
    get:
      summary: Literature information for every position in the transcript
      tags:
        - Literature
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                x-examples:
                  example-1:
                    - article_source: pubmed
                      articleid: 10926844
                      mutant: F
                      position: 2
                      score: 11.100000381469727
                      url: 'https://pubmed.ncbi.nlm.nih.gov/10926844/'
                      variant: E2F
                      wildtype: E
                    - article_source: pubmed
                      articleid: 25581683
                      mutant: F
                      position: 2
                      score: 13.699999809265137
                      url: 'https://pubmed.ncbi.nlm.nih.gov/25581683/'
                      variant: E2F
                      wildtype: E
                items:
                  type: object
                  properties:
                    article_source:
                      type: string
                      minLength: 1
                      description: 'The source of the article, for example "pubmed"'
                    articleid:
                      type: number
                      description: Numeric article identifier
                    mutant:
                      type: string
                      minLength: 1
                      description: Mutant amino acid
                    position:
                      type: number
                      description: Position of the variant
                    score:
                      type: number
                      description: 'Match score assigned to this article, higher scores indicate higher odds of being associated with the relevant variant.'
                    url:
                      type: string
                      minLength: 1
                      description: Direct URL to the article.
                    variant:
                      type: string
                      minLength: 1
                      description: 'Variant as a string in the format <wt><pos><mut>, with single letter amino acid codes. '
                    wildtype:
                      type: string
                      minLength: 1
                      description: The wildtype amino acid at this position.
                  required:
                    - article_source
                    - articleid
                    - mutant
                    - position
                    - score
                    - url
                    - variant
                    - wildtype
              examples:
                Example:
                  value:
                    - article_source: pubmed
                      articleid: 10926844
                      mutant: F
                      position: 2
                      score: 11.100000381469727
                      url: 'https://pubmed.ncbi.nlm.nih.gov/10926844/'
                      variant: E2F
                      wildtype: E
                    - article_source: pubmed
                      articleid: 25581683
                      mutant: F
                      position: 2
                      score: 13.699999809265137
                      url: 'https://pubmed.ncbi.nlm.nih.gov/25581683/'
                      variant: E2F
                      wildtype: E
        '404':
          description: Transcript not found in database.
      operationId: get-transcripts-transcript_id-literature
      description: 'Returns all relevant literature for every position in a transcript. '
  '/transcripts/{transcript_id}/{position}literature':
    parameters:
      - schema:
          type: string
        name: transcript_id
        in: path
        required: true
        description: Ensembl transcript identifier
      - schema:
          type: string
        name: position
        in: path
        required: true
        description: Position of the variant in the transcript
    get:
      summary: Literature information for a single position in the transcript
      tags:
        - Literature
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                x-examples:
                  example-1:
                    - article_source: pubmed
                      articleid: 10926844
                      mutant: F
                      position: 2
                      score: 11.100000381469727
                      url: 'https://pubmed.ncbi.nlm.nih.gov/10926844/'
                      variant: E2F
                      wildtype: E
                    - article_source: pubmed
                      articleid: 25581683
                      mutant: F
                      position: 2
                      score: 13.699999809265137
                      url: 'https://pubmed.ncbi.nlm.nih.gov/25581683/'
                      variant: E2F
                      wildtype: E
                items:
                  type: object
                  properties:
                    article_source:
                      type: string
                      minLength: 1
                      description: 'The source of the article, for example "pubmed"'
                    articleid:
                      type: number
                      description: Numeric article identifier
                    mutant:
                      type: string
                      minLength: 1
                      description: Mutant amino acid
                    position:
                      type: number
                      description: Position of the variant
                    score:
                      type: number
                      description: 'Match score assigned to this article, higher scores indicate higher odds of being associated with the relevant variant.'
                    url:
                      type: string
                      minLength: 1
                      description: Direct URL to the article.
                    variant:
                      type: string
                      minLength: 1
                      description: 'Variant as a string in the format <wt><pos><mut>, with single letter amino acid codes. '
                    wildtype:
                      type: string
                      minLength: 1
                      description: The wildtype amino acid at this position.
                  required:
                    - article_source
                    - articleid
                    - mutant
                    - position
                    - score
                    - url
                    - variant
                    - wildtype
              examples:
                Example:
                  value:
                    - article_source: pubmed
                      articleid: 10926844
                      mutant: F
                      position: 2
                      score: 11.100000381469727
                      url: 'https://pubmed.ncbi.nlm.nih.gov/10926844/'
                      variant: E2F
                      wildtype: E
                    - article_source: pubmed
                      articleid: 25581683
                      mutant: F
                      position: 2
                      score: 13.699999809265137
                      url: 'https://pubmed.ncbi.nlm.nih.gov/25581683/'
                      variant: E2F
                      wildtype: E
        '404':
          description: Transcript not found in database.
      operationId: get-transcripts-transcript_id-literature
      description: 'Returns all relevant literature for a position in a transcript. '
  '/transcripts/{transcript_id}/{position}/{mutant}/literature':
    parameters:
      - schema:
          type: string
        name: transcript_id
        in: path
        required: true
        description: Ensembl transcript identifier
      - schema:
          type: string
        name: position
        in: path
        required: true
        description: Position of the variant in the transcript
      - schema:
          type: string
        name: mutant
        in: path
        required: true
        description: 'The mutant amino acid, can be single or 3 letter code.'
    get:
      summary: Literature information for a single variant in the transcript
      tags:
        - Literature
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                x-examples:
                  example-1:
                    - article_source: pubmed
                      articleid: 10926844
                      mutant: F
                      position: 2
                      score: 11.100000381469727
                      url: 'https://pubmed.ncbi.nlm.nih.gov/10926844/'
                      variant: E2F
                      wildtype: E
                    - article_source: pubmed
                      articleid: 25581683
                      mutant: F
                      position: 2
                      score: 13.699999809265137
                      url: 'https://pubmed.ncbi.nlm.nih.gov/25581683/'
                      variant: E2F
                      wildtype: E
                items:
                  type: object
                  properties:
                    article_source:
                      type: string
                      minLength: 1
                      description: 'The source of the article, for example "pubmed"'
                    articleid:
                      type: number
                      description: Numeric article identifier
                    mutant:
                      type: string
                      minLength: 1
                      description: Mutant amino acid
                    position:
                      type: number
                      description: Position of the variant
                    score:
                      type: number
                      description: 'Match score assigned to this article, higher scores indicate higher odds of being associated with the relevant variant.'
                    url:
                      type: string
                      minLength: 1
                      description: Direct URL to the article.
                    variant:
                      type: string
                      minLength: 1
                      description: 'Variant as a string in the format <wt><pos><mut>, with single letter amino acid codes. '
                    wildtype:
                      type: string
                      minLength: 1
                      description: The wildtype amino acid at this position.
                  required:
                    - article_source
                    - articleid
                    - mutant
                    - position
                    - score
                    - url
                    - variant
                    - wildtype
              examples:
                Example:
                  value:
                    - article_source: pubmed
                      articleid: 10926844
                      mutant: F
                      position: 2
                      score: 11.100000381469727
                      url: 'https://pubmed.ncbi.nlm.nih.gov/10926844/'
                      variant: E2F
                      wildtype: E
                    - article_source: pubmed
                      articleid: 25581683
                      mutant: F
                      position: 2
                      score: 13.699999809265137
                      url: 'https://pubmed.ncbi.nlm.nih.gov/25581683/'
                      variant: E2F
                      wildtype: E
        '404':
          description: Transcript not found in database.
      operationId: get-transcripts-transcript_id-literature
      description: 'Returns all relevant literature for a variant in a transcript. '
  '/gene/{gene_id}/dna':
    parameters:
      - schema:
          type: string
        name: gene_id
        in: path
        required: true
    get:
      summary: DNA literature related to a given gene
      tags:
        - Literature
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                x-examples:
                  example-1:
                    - article_source: pubmed
                      gene_id: NM_000202.7
                      mutantnucleotide: C
                      mutationstr: G709-1C
                      nucleotide: G
                      position: 709
                      pubmed_id: 33960103
                      score: 19.950000762939453
                      taxonomy_id: 9606
                      url: 'https://pubmed.ncbi.nlm.nih.gov/33960103/'
                      variant: c.G709C
                    - article_source: pubmed
                      gene_id: NM_000202.7
                      mutantnucleotide: G
                      mutationstr: A1181-2G
                      nucleotide: A
                      position: 1181
                      pubmed_id: 33960103
                      score: 19.950000762939453
                      taxonomy_id: 9606
                      url: 'https://pubmed.ncbi.nlm.nih.gov/33960103/'
                      variant: c.A1181G
                items:
                  type: object
                  properties:
                    article_source:
                      type: string
                      minLength: 1
                      description: 'The source of the article, for example "pubmed"'
                    gene_id:
                      type: string
                      minLength: 1
                      description: NCBI gene identifier
                    mutantnucleotide:
                      type: string
                      minLength: 1
                      description: Nucleotide that results from the mutation.
                    mutationstr:
                      type: string
                      minLength: 1
                      description: String representing the mutation.
                    nucleotide:
                      type: string
                      minLength: 1
                      description: Wildtype nucleotide.
                    position:
                      type: number
                      description: Position of the mutant.
                    pubmed_id:
                      type: number
                      description: Pubmed identifier.
                    score:
                      type: number
                      description: Score representing the likelihood that this article refers to this mutant (higher is better)
                    taxonomy_id:
                      type: number
                      description: NCBI Taxonomy ID indicating the organism related to this article.
                    url:
                      type: string
                      minLength: 1
                      description: URL for the article.
                    sequence_type:
                      type: string
                      enum:
                        - CDS
                        - UTR3
                        - UTR5
                        - splice_site
                      description: |
                        Where in the sequence this mutation was sourced from.
                    genomic_coordinates:
                      type: string
                      description: A string representing the genomic coordinates. May be null if the genomic coordinates could not be determined.
                    keywords:
                      type: array
                      description: A list of keywords related to this variant.
                      items:
                        type: string
                  required:
                    - article_source
                    - gene_id
                    - mutantnucleotide
                    - mutationstr
                    - nucleotide
                    - position
                    - pubmed_id
                    - score
                    - taxonomy_id
                    - url
              examples:
                Example:
                  value:
                    - article_source: pubmed
                      gene_id: NM_000202.7
                      mutantnucleotide: C
                      mutationstr: G709-1C
                      nucleotide: G
                      position: 709
                      pubmed_id: 33960103
                      score: 19.950000762939453
                      taxonomy_id: 9606
                      url: 'https://pubmed.ncbi.nlm.nih.gov/33960103/'
                      sequence_type: CDS
                      genomic_coordinates: '1p34.1::45508807'
                    - article_source: pubmed
                      gene_id: NM_000202.7
                      mutantnucleotide: G
                      mutationstr: A1181-2G
                      nucleotide: A
                      position: 1181
                      pubmed_id: 33960103
                      score: 19.950000762939453
                      taxonomy_id: 9606
                      url: 'https://pubmed.ncbi.nlm.nih.gov/33960103/'
                      sequence_type: CDS
                      genomic_coordinates: '1p34.1::45508807'
        '400':
          description: Invalid sequence_type supplied
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                example-1:
                  value: {}
        '404':
          description: Transcript not found in database.
      operationId: get-transcripts-transcript_id-literature
      description: 'DNA literature related to a given gene. Access based on an NCBI gene identifier. This endpoint will return all DNA literature, but can be constrained to coding sequences, UTR3, UTR5 or splice site mutations. **Beta**'
      parameters:
        - schema:
            type: number
            default: 4.5
          in: query
          name: score
          description: Minimum score required for a result to be returned.
          allowEmptyValue: true
        - schema:
            type: string
            enum:
              - CDS
              - UTR3
              - UTR5
              - UTRs
              - splice_site
              - all
          in: query
          description: 'Where in the sequence the mutations can be obtained from. Coding Sequence (CDS), either end of the sequence (UTR3, UTR5, UTRs), splice site or all.'
          name: sequence_type
          allowEmptyValue: true
  '/genename/{gene_name}/dna':
    parameters:
      - schema:
          type: string
        name: gene_name
        in: path
        required: true
    get:
      summary: DNA literature related to a given gene by name
      tags:
        - Literature
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                x-examples:
                  example-1:
                    - article_source: pubmed
                      gene_id: NM_000202.7
                      mutantnucleotide: C
                      mutationstr: G709-1C
                      nucleotide: G
                      position: 709
                      pubmed_id: 33960103
                      score: 19.950000762939453
                      taxonomy_id: 9606
                      url: 'https://pubmed.ncbi.nlm.nih.gov/33960103/'
                      variant: c.G709C
                    - article_source: pubmed
                      gene_id: NM_000202.7
                      mutantnucleotide: G
                      mutationstr: A1181-2G
                      nucleotide: A
                      position: 1181
                      pubmed_id: 33960103
                      score: 19.950000762939453
                      taxonomy_id: 9606
                      url: 'https://pubmed.ncbi.nlm.nih.gov/33960103/'
                      variant: c.A1181G
                items:
                  type: object
                  properties:
                    article_source:
                      type: string
                      minLength: 1
                      description: |
                        The source of the article, for example "pubmed"
                    gene_id:
                      type: string
                      minLength: 1
                      description: NCBI gene identifier
                    mutantnucleotide:
                      type: string
                      minLength: 1
                      description: Nucleotide that results from the mutation.
                    mutationstr:
                      type: string
                      minLength: 1
                      description: String representing the mutation.
                    nucleotide:
                      type: string
                      minLength: 1
                      description: Wildtype nucleotide.
                    position:
                      type: number
                      description: Position of the mutant.
                    pubmed_id:
                      type: number
                      description: Pubmed identifier.
                    score:
                      type: number
                      description: Score representing the likelihood that this article refers to this mutant (higher is better).
                    taxonomy_id:
                      type: number
                      description: NCBI Taxonomy ID indicating the organism related to this article.
                    url:
                      type: string
                      minLength: 1
                      description: URL for the article.
                    sequence_type:
                      type: string
                      description: Where in the sequence this mutation was sourced from.
                      enum:
                        - CDS
                        - UTR3
                        - UTR5
                        - intronic
                    genomic_coordinates:
                      type: string
                      description: A string representing the genomic coordinates. May be null if the genomic coordinates could not be determined.
                    keywords:
                      type: array
                      description: A list of keywords related to this variant.
                      items:
                        type: string
                  required:
                    - article_source
                    - gene_id
                    - mutantnucleotide
                    - nucleotide
                    - position
                    - pubmed_id
                    - score
                    - url
              examples:
                Example:
                  value:
                    - article_source: pubmed
                      gene_id: NM_000202.7
                      mutantnucleotide: C
                      mutationstr: G709-1C
                      nucleotide: G
                      position: 709
                      pubmed_id: 33960103
                      score: 19.950000762939453
                      taxonomy_id: 9606
                      url: 'https://pubmed.ncbi.nlm.nih.gov/33960103/'
                      sequence_type: CDS
                      genomic_coordinates: '1p34.1::45508807'
                    - article_source: pubmed
                      gene_id: NM_000202.7
                      mutantnucleotide: G
                      mutationstr: A1181-2G
                      nucleotide: A
                      position: 1181
                      pubmed_id: 33960103
                      score: 19.950000762939453
                      taxonomy_id: 9606
                      url: 'https://pubmed.ncbi.nlm.nih.gov/33960103/'
                      sequence_type: CDS
                      genomic_coordinates: '1p34.1::45508807'
        '400':
          description: Invalid sequence_type supplied
        '404':
          description: Transcript not found in database.
      operationId: get-transcripts-transcript_id-literature
      description: 'DNA literature related to a given gene. Access based on gene name. This endpoint will return all DNA literature, but can be constrained to Coding suquences, UTR3, UTR5 or splice site mutations. **Beta**'
      parameters:
        - schema:
            type: number
            default: 4.5
          in: query
          name: score
          description: Minimum score required for a result to be returned.
          allowEmptyValue: true
        - schema:
            type: string
            enum:
              - CDS
              - UTR3
              - UTR5
              - UTRs
              - splice_site
              - all
          in: query
          description: 'Where in the sequence the mutations can be obtained from. Coding Sequence (CDS), either end of the sequence (UTR3, UTR5, UTRs), splice site or all.'
          name: sequence_type
  '/genename/{gene_name}/all':
    parameters:
      - schema:
          type: string
        name: gene_name
        in: path
        required: true
    get:
      summary: All literature related to a given gene by name
      tags:
        - Literature
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    dna:
                      - article_source: pubmed
                        gene_id: NM_007297.4
                        genomic_coordinates: '17q21.31::43104187'
                        keywords:
                          - diabetes mellitus
                          - hypothyroidism
                          - opa1
                          - encephalopathy
                          - chronic progressive external ophthalmoplegia
                          - progressive external ophthalmoplegia
                          - neuropathy
                          - pph2
                          - breast cancer
                          - cand
                          - myopia
                          - image
                          - periodic fever
                          - alexander
                          - hema
                          - short
                          - cardiac conduction
                          - wfs1
                          - neuromuscular
                        mutantnucleotide: Del
                        mutationstr: C235DelC
                        nucleotide: C
                        position: 235
                        pubmed_id: 31348995
                        score: 15.819999694824219
                        sequence_type: CDS
                        taxonomy_id: 9606
                        url: 'https://pubmed.ncbi.nlm.nih.gov/31348995/'
                      - article_source: pubmed
                        gene_id: NM_007294.4
                        genomic_coordinates: '17q21.31::43106487'
                        keywords:
                          - ovarian cancer
                          - leukemia
                          - hema
                          - breast cancer
                          - escr
                          - cervical cancer
                          - short
                          - still
                          - mps is
                          - soft
                        mutantnucleotide: G
                        mutationstr: T181G
                        nucleotide: T
                        position: 181
                        pubmed_id: 26306726
                        score: 34.33000183105469
                        sequence_type: CDS
                        taxonomy_id: 9606
                        url: 'https://pubmed.ncbi.nlm.nih.gov/26306726/'
                    protein:
                      - article_source: pubmed
                        articleid: 16267036
                        keywords: null
                        mutant: R
                        position: 1
                        score: 350.5333251953125
                        taxonomy_id: 9606
                        url: 'https://pubmed.ncbi.nlm.nih.gov/16267036/'
                        variant: M1R
                        wildtype: M
                      - article_source: pubmed
                        articleid: 22753008
                        keywords: null
                        mutant: I
                        position: 1
                        score: 142.13333129882812
                        taxonomy_id: 9606
                        url: 'https://pubmed.ncbi.nlm.nih.gov/22753008/'
                        variant: M1I
                        wildtype: M
                properties:
                  dna:
                    type: array
                    items:
                      type: object
                      properties:
                        article_source:
                          type: string
                          description: 'The source of the article, for example "pubmed"'
                        gene_id:
                          type: string
                          description: NCBI Identifier of the corresponding gene.
                        genomic_coordinates:
                          type: string
                          description: A string representing the genomic coordinates. May be null if the genomic coordinates could not be determined.
                        keywords:
                          description: A list of keywords related to this variant.
                          type: array
                          nullable: true
                          items:
                            type: string
                        mutantnucleotide:
                          type: string
                          description: Nucleotide that was the result of the mutation
                        mutationstr:
                          type: string
                          description: String representing the variant as extracted from the article.
                        nucleotide:
                          type: string
                          description: The wildtype nucleotide at this position.
                        position:
                          type: integer
                          description: Position of the variant
                        pubmed_id:
                          type: integer
                          description: Numeric article identifier
                        score:
                          type: number
                          description: 'Match score assigned to this article, higher scores indicate higher odds of being associated with the relevant variant.'
                        sequence_type:
                          type: string
                          description: Where in the sequence this mutation was sourced from.
                          enum:
                            - CDS
                            - UTR3
                            - UTR5
                            - intronic
                        taxonomy_id:
                          type: integer
                          description: NCBI Taxonomy ID indicating the organism related to this article.
                        url:
                          type: string
                          description: Direct URL to the article.
                  protein:
                    type: array
                    items:
                      type: object
                      properties:
                        article_source:
                          type: string
                          description: 'The source of the article, for example "pubmed"'
                        articleid:
                          type: integer
                          description: Numeric article identifier
                        keywords:
                          type: array
                          nullable: true
                          items:
                            type: string
                        mutant:
                          type: string
                          description: Mutant amino acid
                        position:
                          type: integer
                          description: Position of the variant
                        score:
                          type: number
                          description: 'Match score assigned to this article, higher scores indicate higher odds of being associated with the relevant variant.'
                        taxonomy_id:
                          type: integer
                          description: NCBI Taxonomy ID indicating the organism related to this article.
                        url:
                          type: string
                          description: Direct URL to the article.
                        variant:
                          type: string
                          description: 'Variant as a string in the format <wt><pos><mut>, with single letter amino acid codes. '
                        wildtype:
                          type: string
                          description: The wildtype amino acid at this position.
              examples:
                Example:
                  value:
                    dna:
                      - article_source: pubmed
                        gene_id: NM_007297.4
                        genomic_coordinates: '17q21.31::43104187'
                        keywords:
                          - diabetes mellitus
                          - hypothyroidism
                          - opa1
                          - encephalopathy
                          - chronic progressive external ophthalmoplegia
                          - progressive external ophthalmoplegia
                          - neuropathy
                          - pph2
                          - breast cancer
                          - cand
                          - myopia
                          - image
                          - periodic fever
                          - alexander
                          - hema
                          - short
                          - cardiac conduction
                          - wfs1
                          - neuromuscular
                        mutantnucleotide: Del
                        mutationstr: C235DelC
                        nucleotide: C
                        position: 235
                        pubmed_id: 31348995
                        score: 15.819999694824219
                        sequence_type: CDS
                        taxonomy_id: 9606
                        url: 'https://pubmed.ncbi.nlm.nih.gov/31348995/'
                      - article_source: pubmed
                        gene_id: NM_007294.4
                        genomic_coordinates: '17q21.31::43106487'
                        keywords:
                          - ovarian cancer
                          - leukemia
                          - hema
                          - breast cancer
                          - escr
                          - cervical cancer
                          - short
                          - still
                          - mps is
                          - soft
                        mutantnucleotide: G
                        mutationstr: T181G
                        nucleotide: T
                        position: 181
                        pubmed_id: 26306726
                        score: 34.33000183105469
                        sequence_type: CDS
                        taxonomy_id: 9606
                        url: 'https://pubmed.ncbi.nlm.nih.gov/26306726/'
                    protein:
                      - article_source: pubmed
                        articleid: 16267036
                        keywords: null
                        mutant: R
                        position: 1
                        score: 350.5333251953125
                        taxonomy_id: 9606
                        url: 'https://pubmed.ncbi.nlm.nih.gov/16267036/'
                        variant: M1R
                        wildtype: M
                      - article_source: pubmed
                        articleid: 22753008
                        keywords: null
                        mutant: I
                        position: 1
                        score: 142.13333129882812
                        taxonomy_id: 9606
                        url: 'https://pubmed.ncbi.nlm.nih.gov/22753008/'
                        variant: M1I
                        wildtype: M
        '400':
          description: Invalid sequence_type supplied
        '404':
          description: Transcript not found in database.
      operationId: get-transcripts-transcript_id-literature
      description: 'All literature related to a given gene. Access based on gene name. This endpoint will return all literature, including DNA and protein literature. **Beta**'
      parameters:
        - schema:
            type: number
            default: 4.5
          in: query
          name: score
          description: Minimum score required for a result to be returned.
          allowEmptyValue: true
  '/transcripts/{transcript_id}/dna':
    parameters:
      - schema:
          type: string
        name: transcript_id
        in: path
        required: true
    get:
      summary: DNA literature related to a given transcript
      tags:
        - Literature
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                x-examples:
                  example-1:
                    - article_source: pubmed
                      articleid: 10926844
                      mutant: F
                      position: 2
                      score: 11.100000381469727
                      url: 'https://pubmed.ncbi.nlm.nih.gov/10926844/'
                      variant: E2F
                      wildtype: E
                    - article_source: pubmed
                      articleid: 25581683
                      mutant: F
                      position: 2
                      score: 13.699999809265137
                      url: 'https://pubmed.ncbi.nlm.nih.gov/25581683/'
                      variant: E2F
                      wildtype: E
                items:
                  type: object
                  properties:
                    article_source:
                      type: string
                      minLength: 1
                      description: 'The source of the article, for example "pubmed"'
                    pubmed_id:
                      type: number
                      description: Numeric article identifier
                    position:
                      type: number
                      description: Position of the variant
                    score:
                      type: number
                      description: 'Match score assigned to this article, higher scores indicate higher odds of being associated with the relevant variant.'
                    url:
                      type: string
                      minLength: 1
                      description: Direct URL to the article.
                    nucleotide:
                      type: string
                      minLength: 1
                      description: The wildtype nucleotide this position.
                    mutationstr:
                      type: string
                      description: String representing the variant as extracted from the article.
                    taxonomy_id:
                      type: integer
                      description: NCBI Taxonomy ID indicating the organism related to this article.
                    gene_id:
                      type: string
                      description: NCBI Identifier of the corresponding gene.
                    sequence_type:
                      type: string
                      description: Where in the sequence this mutation was sourced from.
                      enum:
                        - CDS
                        - UTR3
                        - UTR5
                        - intronic
                    genomic_coordinates:
                      type: string
                      description: A string representing the genomic coordinates. May be null if the genomic coordinates could not be determined.
                    keywords:
                      type: array
                      description: A list of keywords related to this variant.
                      items:
                        type: string
                    mutantnucleotide:
                      type: string
                      description: Nucleotide that was the result of the mutation
                  required:
                    - article_source
                    - pubmed_id
                    - position
                    - score
                    - url
                    - nucleotide
                    - mutantnucleotide
              examples:
                Example:
                  value:
                    - article_source: pubmed
                      gene_id: NM_000202.7
                      mutantnucleotide: C
                      mutationstr: G709-1C
                      nucleotide: G
                      position: 709
                      pubmed_id: 33960103
                      score: 19.950000762939453
                      taxonomy_id: 9606
                      url: 'https://pubmed.ncbi.nlm.nih.gov/33960103/'
                      sequence_type: CDS
                      genomic_coordinates: '1p34.1::45508807'
                    - article_source: pubmed
                      gene_id: NM_000202.7
                      mutantnucleotide: G
                      mutationstr: A1181-2G
                      nucleotide: A
                      position: 1181
                      pubmed_id: 33960103
                      score: 19.950000762939453
                      taxonomy_id: 9606
                      url: 'https://pubmed.ncbi.nlm.nih.gov/33960103/'
                      sequence_type: CDS
                      genomic_coordinates: '1p34.1::45508807'
        '400':
          description: Invalid sequence_type supplied
        '404':
          description: Transcript not found in database.
      operationId: get-transcripts-transcript_id-literature
      description: 'DNA literature related to a given protein. Access based on Ensembl transcript identifier. This endpoint will return all DNA literature, but can be constrained to Coding suquences, UTR3, UTR5 or splice site mutations. **Beta**'
      parameters:
        - schema:
            type: number
            example: score=10
            default: 4.5
          in: query
          name: score
          description: Minimum score required for a result to be returned.
          allowEmptyValue: true
        - schema:
            type: string
            default: all
            enum:
              - all
              - CDS
              - UTR3
              - UTR5
              - UTRs
              - splice_site
          in: query
          name: sequence_type
          allowEmptyValue: true
          description: 'Where in the sequence the mutations can be obtained from. Coding Sequence (CDS), either end of the sequence (UTR3, UTR5, UTRs), splice site or all.'
  '/keyword/{keyword}/dna':
    parameters:
      - schema:
          type: string
        name: keyword
        in: path
        required: true
    get:
      summary: DNA literature related to a given keyword
      tags:
        - Literature
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                x-examples:
                  example-1:
                    - article_source: pubmed
                      articleid: 10926844
                      mutant: F
                      position: 2
                      score: 11.100000381469727
                      url: 'https://pubmed.ncbi.nlm.nih.gov/10926844/'
                      variant: E2F
                      wildtype: E
                    - article_source: pubmed
                      articleid: 25581683
                      mutant: F
                      position: 2
                      score: 13.699999809265137
                      url: 'https://pubmed.ncbi.nlm.nih.gov/25581683/'
                      variant: E2F
                      wildtype: E
                items:
                  type: object
                  properties:
                    article_source:
                      type: string
                      minLength: 1
                      description: 'The source of the article, for example "pubmed"'
                    pubmed_id:
                      type: number
                      description: Numeric article identifier
                    position:
                      type: number
                      description: Position of the variant
                    score:
                      type: number
                      description: 'Match score assigned to this article, higher scores indicate higher odds of being associated with the relevant variant.'
                    url:
                      type: string
                      minLength: 1
                      description: Direct URL to the article.
                    wildtype:
                      type: string
                      minLength: 1
                      description: The wildtype amino acid at this position.
                    mutationstr:
                      type: string
                      description: String representing the variant as extracted from the article.
                    taxonomy_id:
                      type: integer
                      description: NCBI Taxonomy ID indicating the organism related to this article.
                    gene_id:
                      type: string
                      description: NCBI Identifier of the corresponding gene.
                    sequence_type:
                      type: string
                      description: Where in the sequence this mutation was sourced from.
                      enum:
                        - CDS
                        - UTR3
                        - UTR5
                        - intronic
                    genomic_coordinates:
                      type: string
                      description: A string representing the genomic coordinates. May be null if the genomic coordinates could not be determined.
                    keywords:
                      type: array
                      description: A list of keywords related to this variant.
                      items:
                        type: string
                    mutantnucleotide:
                      type: string
                      description: Nucleotide that was the result of the mutation
                  required:
                    - article_source
                    - pubmed_id
                    - position
                    - score
                    - url
                    - wildtype
              examples:
                Example:
                  value:
                    - article_source: pubmed
                      gene_id: NM_000202.7
                      mutantnucleotide: C
                      mutationstr: G709-1C
                      nucleotide: G
                      position: 709
                      pubmed_id: 33960103
                      score: 19.950000762939453
                      taxonomy_id: 9606
                      url: 'https://pubmed.ncbi.nlm.nih.gov/33960103/'
                      sequence_type: CDS
                      genomic_coordinates: '1p34.1::45508807'
                    - article_source: pubmed
                      gene_id: NM_000202.7
                      mutantnucleotide: G
                      mutationstr: A1181-2G
                      nucleotide: A
                      position: 1181
                      pubmed_id: 33960103
                      score: 19.950000762939453
                      taxonomy_id: 9606
                      url: 'https://pubmed.ncbi.nlm.nih.gov/33960103/'
                      sequence_type: CDS
                      genomic_coordinates: '1p34.1::45508807'
        '400':
          description: Invalid sequence_type supplied
        '404':
          description: Transcript not found in database.
      operationId: get-transcripts-transcript_id-literature
      description: |-
        DNA literature related to a given keyword. This endpoint will return all DNA literature, but can be constrained to Coding suquences, UTR3, UTR5 or splice site mutations.

        Results are paginated, with at most 100 being presented at once. Using the `start` query parameters it is possible to advance through the records. For example, ?start=0 will return the first 100 results. ?start=100 will return result 100-200, etc. **Beta**
      parameters:
        - schema:
            type: number
            example: score=10
            default: 4.5
          in: query
          name: score
          description: Minimum score required for a result to be returned.
          allowEmptyValue: true
        - schema:
            type: string
            default: all
            enum:
              - all
              - CDS
              - UTR3
              - UTR5
              - UTRs
              - splice_site
          in: query
          name: sequence_type
          allowEmptyValue: true
          description: 'Where in the sequence the mutations can be obtained from. Coding Sequence (CDS), either end of the sequence (UTR3, UTR5, UTRs), splice site or all.'
        - schema:
            type: number
          in: query
          name: start
          description: The number of records to skip
  '/transcripts/{transcript_id}/external':
    parameters:
      - schema:
          type: string
        name: transcript_id
        in: path
        required: true
        description: Ensembl transcript identifier
    get:
      summary: External information for every position in the transcript
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                x-examples:
                  example-1:
                    - article_source: pubmed
                      articleid: 10926844
                      mutant: F
                      position: 2
                      score: 11.100000381469727
                      url: 'https://pubmed.ncbi.nlm.nih.gov/10926844/'
                      variant: E2F
                      wildtype: E
                    - article_source: pubmed
                      articleid: 25581683
                      mutant: F
                      position: 2
                      score: 13.699999809265137
                      url: 'https://pubmed.ncbi.nlm.nih.gov/25581683/'
                      variant: E2F
                      wildtype: E
                items:
                  type: object
                  properties:
                    article_source:
                      type: string
                      minLength: 1
                      description: 'The source of the article, for example "pubmed"'
                    articleid:
                      type: number
                      description: Numeric article identifier
                    mutant:
                      type: string
                      minLength: 1
                      description: Mutant amino acid
                    position:
                      type: number
                      description: Position of the variant
                    score:
                      type: number
[...]
